/*------------------------------------*\
    #HEADER MAIN
\*------------------------------------*/

$header-height: 70px;
$header-bgr: #fff;

.header-main {
	font-size: 14px;
	height: $header-height;
	background-color: $header-bgr;
	border-bottom: $color-gray-light2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*.header-main--fixed {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;

	+ main {
		padding-top: $header-height;
	}
}*/


////////////////////////////////////////////////////////////////////////////////////////////LOGO
.logo {
	height: 30px;
	margin-left: 20px;
}


////////////////////////////////////////////////////////////////////////////////////////////SEARCH BOX

.search {
	flex: 0 0 40%;
	display: flex;
	align-items: center;
	justify-content: center;

	&__input {
		font-family: inherit;
		font-size: inherit;
		background-color: $color-gray-light2;
		border: none;
		color: inherit;
		padding: 10px;
		border-radius: 100px;
		width: 90%;
		transition: $base-transition;
		margin-right: -45px;

		&:focus {
			outline: none;
			width: 100%;
			background-color: $color-gray-light3;
		}

		&::-webkit-input-placeholder {
			font-weight: 100;
			color: $color-gray-light4;
		}
	}

	&__input:focus + &__button {
		background-color: $color-gray-light3;
	}

	&__button {
		border: none;
		background-color: $color-gray-light2;

		&:focus {
			outline: none;
		}

		&:active {
			transform: translateY(2px);	
		}
	}

	&__icon {
		height: 20px;
		width: 20px;
		fill: $color-gray-dark3;
	}
}



////////////////////////////////////////////////////////////////////////////////////////////USER NAVIGATION

.user-nav {
	align-self:  stretch;
	display: flex;
	align-items: center;
	

	& > * {
		display: flex;
		align-items: center;
		padding: 0 20px;
		cursor: pointer;
		height: 100%;
	}

	& > *:hover {
		background-color: $color-gray-light2;
	}


	&__icon-box {
		display: flex;
		align-items: center;
		position: relative;
	}

	&__icon {
		height: 25px;
		width: 25px;
		fill: $color-gray-dark2;

	}

	&__notification {
		font-size: 8px;
		height: 18px;
		width: 18px;
		border-radius: 50%;
		background-color: $color-brand;
		color: #fff;
		position: absolute;
		top: 15px;
		right: 11px;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__user {

	}

	&__user-photo {
		height: 35px;
		border-radius: 50%;
		margin-right: 10px;
	}
}